@import "utils/mixins";
@import "utils/media-querys";
@import "utils/variables";

@import "base/base";
@import "base/normalize";
@import "base/typography";
@import "base/colors";

@import "layout/flexbox";
@import "layout/grid";
@import "layout/basic-layouts";

@import "singleStyles/shadows";
@import "singleStyles/scrollable";

@import "components/list";
@import "components/btn";
@import "components/card";
@import "components/form";
// @import "components/nav";

@import "navbar/nav1";

@import "animations/index";
@import "animations/keyframes";
