// main: ../index.scss

$border: 2px solid;

// FONT STUFF
$font-primary: 'Calibri';
$font-secondary: 'Calibri';

$font-size: 15pt;
$font-line-height-primary: 1.2;
$font-line-height-primary: $font-size * 1.3333333333333333;

$font-color-primary: #0c0e0f;
$font-color-secondary: #ebebeb;
$font-color-accent: #1c50c3;


// MAIN COLORS
$color-primary: rgb(177, 158, 227);
$color-primary-dark: rgb(154, 136, 204);
$color-primary-light: rgb(197, 175, 255);

$color-secondary: #1c50c3;
$color-secondary-dark: #173578;
$color-secondary-light: #4d71ee;

$color-tertiary: #2b2b2b;
$color-tertiary-dark: #0c0e0f;
$color-tertiary-light: #474747;

$success: rgb(105, 255, 74);
$error: rgb(255, 64, 64);

$selection-color: $font-color-accent;
$selection-bg-COLOR: $font-color-primary;
