// main: ../index.scss

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: $font-secondary;
  padding: 0;
  margin: 0;
}

a, li, p, em, label  {
  font-size: calc(12pt + 0.25rem);
}

h1 {
  &.large {
    font-size: 4rem;
  }
  &.middle {
    font-size: 3rem;
  }
  &.small {
    font-size: 2rem;
  }
}
h2 {
  &.large {
    font-size: 3.7rem;
  }
  &.middle {
    font-size: 2.8rem;
  }
  &.small {
    font-size: 1.8rem;
  }
}
h3 {
  &.large {
    font-size: 3.4rem;
  }
  &.middle {
    font-size: 2.6rem;
  }
  &.small {
    font-size: 1.6rem;
  }
}
h4 {
  &.large {
    font-size: 3.1rem;
  }
  &.middle {
    font-size: 2.4rem;
  }
  &.small {
    font-size: 1.4rem;
  }
}
h5 {
  &.large {
    font-size: 2.8rem;
  }
  &.middle {
    font-size: 2.2rem;
  }
  &.small {
    font-size: 1.2rem;
  }
}
h6 {
  &.large {
    font-size: 2.5rem;
  }
  &.middle {
    font-size: 2rem;
  }
  &.small {
    font-size: 1rem;
  }
}

a {
  @include transition();

  &:active {
    color: none;
  }
}


// text transformations
.thin {
  font-weight: 100 !important;
}
.light {
  font-weight: 300 !important;
}
.regular {
  font-weight: 400 !important;
}
.medium {
  font-weight: 500 !important;
}
.bold {
  font-weight: 700 !important;
}
.black {
  font-weight: 900 !important;
}

.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}

// align classes
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-justify {
  text-align: justify;
}
.align-justify-center {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}
